<div class="section-c-wrapper">

    <div class="image-wrapper">
        <img class="image" src="assets/images/landing-page/Image_2.png" alt="Image 2">
    </div>

    <div class="content-wrapper">
        
        <app-fact [bottom]="true" title="Lore ipsum" text="Plataforma de gestión y captación de viviendas turísticas que busca simplificar al máximo las interacciones de los propietarios con los gestores."></app-fact>
        <app-fact [bottom]="true" title="Ipsum lorema" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud."></app-fact>
        <app-fact [bottom]="false" title="Darkol Fendo" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim."></app-fact>

    </div>
    
</div>