<section class="section-a">

    <div class="content">
        <h1>
            Sus propiedades, ahora mas rentables que un hotel
        </h1>
        <p>
            Plataforma de gestión y captación de viviendas turísticas que busca simplificar al máximo las interacciones de los propietarios con los gestores. 
        </p>
        <div class="btns">
            <input type="button" value="Start now" class="btn btn-big">
            <a href="">Mas información &nbsp;-></a>
        </div>

    </div>

    <div class="image-wrapper">
            <img src="assets/images/landing-page/Image_1.png" alt="city">
    </div>

</section>