<div class="main">

  <div class="header">
    <h1 class="logo">fragments</h1>
    <ul class="nav_list">
      <li class="nav_item"><a href="">Product</a></li>
      <li class="nav_item"><a href="">Pricing</a></li>
      <li class="nav_item"><a href="">Docs</a></li>
      <li class="nav_item"><a href="">Company</a></li>
    </ul>
    <div class="buttons">
      <input class="login btn btn-ghost" type="button" value="Log in">
      <input class="singup btn btn-primary" type="button" value="Sign up">
    </div>

  </div>

  <div class="content">

    <div class="double-container1">
      <div class="content1">
        <h1>
          The best companies are built on unified customer data
        </h1>
        <p class="info1">
          Fragments is the best option for your customer data
        </p>
      
        <div class="text-btn">
          <input class="text" type="text" name="email" id="email" value="Your email">
          <input class="btn btn-primary" type="button" value="Request demo">
        </div>
      
        <p><a href="" class="info2">create free account ></a></p>
        <p class="info1">Join the 20,000+ companies using fragments</p>
      
        <div class="sponsors">
          <img src="../assets/images/logo1.svg" alt="sponsor" class="sponsor">
          <img src="../assets/images/logo2.svg" alt="sponsor" class="sponsor">
          <img src="../assets/images/logo3.svg" alt="sponsor" class="sponsor">
          <img src="../assets/images/logo4.svg" alt="sponsor" class="sponsor">
        </div>
      </div>
      <div class="imagewrapper1">
        <img src="../assets/images/image1.png" alt="smart dude" class="image1">

      </div>
    </div>


    <div class="content2">
      <h1>
        Empower every team with a good idea
      </h1>
      <p class="info1">
        Fragments collects user events from your web & mobile apps and provides a complete data toolkit for every team in your company
      </p>
    </div>

    <div class="double-container2">
      <div class="content3">
        <div class="team">
          <h3>Marketing</h3>
          <p>Single View of the customer with real time audiences</p>
        </div>

        <div class="team">
          <h3>Product</h3>
          <p>Single View of the customer with real time audiences</p>
        </div>

        <div class="team">
          <h3>Engineering</h3>
          <p>Single View of the customer with real time audiences</p>
        </div>
      </div>

      <div class="imagewrapper2">
        <img src="../assets/images/image2.png" alt="big brain" class="image2">
      </div>
    </div>

    <div class="footer copyright">
      <p>
        @Copyright. - Daniel González
      </p>
    </div>

</div>