.fact-wrapper{
    border-bottom: 7px solid var(--clr-seconday-dark);
    margin-bottom: 2.5rem;

    .title{
        line-height: 100%;
        margin-bottom: 0.75em;
    }
    
    .text{
        margin-bottom: 1.25em;
    }

}

.noBorderBottom{
    border-bottom: none;
}