.section-b-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: calc(100% + (2 * var(--red-space)));
    padding:  var(--red-space) var(--red-space);
    position: relative;
    left: -4.375rem;
    background-color: var(--clr-primary);
    
    .title{
        width: 15em;
        max-width: 100%;
        padding: 0.25em min(10%, 2em);
        text-align: center;
        border-left: 7px solid var(--clr-seconday-dark);
        border-right: 7px solid var(--clr-seconday-dark);
    }

    .year{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 0;
        flex-shrink: 0;
        width: calc(2.25 * var(--red-space));
        height: calc(2.25 * var(--red-space));
        border-radius: 50%;
        border: 3px solid white;
        color:white;
    }

}

.section-b-wrapper::before,
.section-b-wrapper::after {
    content: '';
    display: block;
    position:absolute;
    left: 0;
    width: 100%;
    height: calc(1.70 * var(--red-space));
    background-color: var(--clr-primary);
}

.section-b-wrapper::before{
    top: calc(-7.4375rem + 2px);
    clip-path: polygon(
        0 var(--red-space),
        var(--red-space) 0,
        100% 0,
        100% 100%,
        0 100%
    );
}

.section-b-wrapper::after{
    bottom: calc(-7.4375rem + 2px);
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - var(--red-space)),
        calc(100% - var(--red-space)) 100%,
        0 100%
    );
}


@media(max-width: 917px){
    .section-b-wrapper{
        margin: calc(1.70 * var(--red-space)) 0;

        .year{
            display: none;
        }

    }
}