<div class="section-d-wrapper">
    <div class="title-wrapper">
        <h1 class="title">Lore Ipsum facen die finranaras per facilon</h1>
    </div>
    <div class="card-wrapper">
        <app-card title="2733 deals" text="sunt in culpa qui officia deserunt mollit anim id est laborum" image="/assets/images/landing-page/Card_3.png"></app-card>
        <app-card title="85% rating" text="ctetur adipiscing elit, sed   eiusmod tempor incididunt ut labore et." image="/assets/images/landing-page/Card_2.png"></app-card>
        <app-card title="+23.3122 €" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt." image="/assets/images/landing-page/Card_1.png"></app-card>  
    </div>
    <div class="title-wrapper">
        <h1 class="title">Ipsum die lore dorem nostalgia den faculti</h1>
    </div>
    
</div>
