

.coming-left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3rem 0 4rem calc(5vw + 2rem);
    padding: 2em 5vw 2em 2em;
    background-color: var(--clr-blue-light);
    border-radius: 30px 0 0 30px;
    position: relative;
    justify-content: center;

    h2{
        margin-top: 1em;
        min-width: 20%;
        text-align: center;
    }

    img{
        padding: 0 0 0 0;
        display: inline-block;
        width: auto;
        height: 200px;
    }

}
.coming-left::before{
    content: '';
    width: calc(100% + 2rem);
    height: 100%;
    position: absolute;
    top: 2rem;
    left: -2rem;
    z-index: -1;
    border-radius: inherit;
    background-color: var(--clr-blue-dark);
}


.coming-right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 calc(5vw + 2rem) 5rem 0;
    padding: 2em 5vw 2em 2em;
    background-color: var(--clr-purple-light);
    border-radius: 0 30px 30px 0;
    position: relative;
    justify-content: center;

    h2{
        margin-top: 1em;
        min-width: 20%;
        text-align: center;
    }

    img{
        padding: 0 0 0 0;
        display: inline-block;
        width: auto;
        height: 200px;
    }

}
.coming-right::before{
    content: '';
    width: calc(100% + 2rem);
    height: 100%;
    position: absolute;
    top: 2rem;
    left: 0;
    z-index: -1;
    border-radius: inherit;
    background-color: var(--clr-purple-dark);
}

@media(min-width:600px){
    .coming-right,.coming-left{
        flex-wrap: nowrap;
        align-items: center;
        h2{
            margin-top: 0px;
            height: min-content;
        }
    }
    
    .coming-right img{
        margin-left: 2em;
    }

    .coming-left img{
        margin-right: 2em;
    }
}

@media(min-width:800px){

    .coming-right,.coming-left{
        
        img{
            height: 300px;
        }

    }

}
