<header>

    <h2 class="logo">HOSPEDAME</h2>

    <nav>

        <ul class="nav-list">

            <li class="nav-item">
                <a href="">Services</a>
            </li>
            <li class="nav-item">
                <a href="">About</a>
            </li>
            <li class="nav-item">
                <a href="">Contact</a>
            </li>
            <li class="nav-item">
                <a href="">Planning</a>
            </li>

        </ul>
        
    </nav>

    <div class="log-buttons">
        <input class="btn" type="button" value="Log in">
        <input class="btn" type="button" value="Register">
    </div>

</header>