@font-face{
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face{
    font-family: Roboto-Black;
    src: url(assets/fonts/Roboto-Black.ttf) format('truetype');
}
@font-face{
    font-family: Roboto-Bold;
    src: url(assets/fonts/Roboto-Bold.ttf) format('truetype');
}

*,*::after,*::before{
    box-sizing: border-box;
}

:root{
    font-family: Roboto-Black;

    --clr-blue: #479AB4;
    --clr-purple-dark: #20205E;
    --clr-purple-primary: #37579B;
    --clr-purple-light: #C0CDE8;

    --clr-black: #000000;
    --clr-white: #FFFFFF;

}

@media(max-width: 400px){
    :root{
        font-size: 12px;
    }
}

h1,h2,h3,p{
    margin-bottom: 0px;
}

h1,h2,h3{
    color: var(--clr-purple-dark);
    margin-top: 2.5em;
}
h1{
    font-size: 3rem;
}
h3{
    font-size:1.5rem;
}

p{
    margin-top: 2rem;
}

.info1{
    font-size: 1.5rem;
    color: var(--clr-purple-primary);
}
.info2{
    font-size: 1.5rem;
    color:var(--clr-blue);
}

body{
    margin: 0px;
    padding: 0px;
}

.btn{
    cursor: pointer;
    font-family: Roboto-Black;
    font-size: 1.5rem;
    border-radius: 5px;
    box-shadow: none;
    padding: 0.25em 1em;
    margin-top: 1em;
    position: relative;
    z-index: 0;

    transition: background-color,color,border-color;
    transition-duration: 200ms;
}
.btn:hover{
    color: var(--clr-white);
    background-color: var(--clr-purple-dark);
    border-color: var(--clr-purple-dark);
}
.btn:active{
    color: var(--clr-purple-dark);
    background-color: var(--clr-purple-light);
    border-color: var(--clr-purple-dark);
}


.btn-ghost{
    color: var(--clr-blue);
    border: 3px solid var(--clr-blue);
    background-color: var(--clr-white);
}
.btn-primary{
    color: var(--clr-white);
    border: 3px solid var(--clr-blue);
    background-color: var(--clr-blue);
}


.btn + .btn{
    margin-left: 0.5em;
}

.text-btn{

    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid var(--clr-purple-primary);
    border-radius: 5px;
    background-color: var(--clr-purple-light);

    .text{
        font-family: Roboto-Black;
        font-size: 1.5rem;
        min-width: 0%;
        padding: 0.25em 1em;
        border: none;
        outline: 3px solid transparent;
        outline-offset: -1.5px;
        border-radius: 5px;
        background-color: var(--clr-purple-light);
        color: var(--clr-purple-primary);

        transition: color,background-color,outline-color;
        transition-duration: 250ms;

    }
    .text:focus{
        background-color: var(--clr-purple-primary);
        color: var(--clr-white);
        outline-color: var(--clr-purple-primary);
    }

    .btn{
        outline: 1px solid var(--clr-purple-primary);
        margin-top: 0px;
        background-color: var(--clr-purple-primary);
        border-radius: 0px;
        border: none;
    }

}

a{
    text-decoration: none;
    transition: color;
    transition-duration: 250ms;
}
a:hover{
    color:var(--clr-purple-dark);
}

app-root{
    display: grid;
    grid-template-columns:  1fr min(1400px, 90%) 1fr;
    background-color: var(--clr-purple-dark);
    padding-top: 1rem;
    padding-bottom: 1rem;
}